  /**=====Info Box Style=====**/
  .InfoSite {
    padding-top: 3%;
    padding-bottom: 5%;
  }
  
  .InfoSite h1 {
    font-size: 2vw;
    text-align: center;
  }

  .InfoSite h1::before,
  .InfoSite h1::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #343a40;
    width: 410px;
    margin: -0.5% 1%;
    transform: translateY(-1vw);
  }

  #redt h1::before,
  #redt h1::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #343a40;
    width: 510px;
    margin: -0.5% 1%;
    transform: translateY(-1vw);
  }

  #admint h1::before,
  #admint h1::after {
     display: inline-block;
     content: "";
     border-top: .2rem solid #343a40;
     width: 480px;
     margin: -0.5% 1%;
     transform: translateY(-1vw);
  }
  
  #stafflist {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 7%;
    padding-top: 2%;
  }

  #staff{
    width: 50%;
  }

  .carousel-caption {
    width: 330px;
    height: 130px;
    background-color: #1a1a1a;
    opacity: 0.8;
    margin-bottom: -4.6%;
    margin-left: -15%;
  }
  

  #picspace{
    position: relative;
  }

  #footer{
    padding-bottom: 10px;
  }